.proyect__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    .proyect__header__search {
        position: relative;
        margin-right: 5rem;
        input {
            display: inline-block;
            width: 100%;
            height: 2.2rem;
            border: 1px solid $text-3-color;
            padding: .5rem 2rem .5rem .5rem;
            border-radius: .2rem;
        }
        .icon {
            position: absolute;
            top: 50%;
            right: .5rem;
            transform: translateY(-50%);
        }
    }
    .proyect__header__create {
        display: flex;
        .proyect__header__input {
            display: inline-block;
            width: 100%;
            height: 2.2rem;
            border: 1px solid $text-3-color;
            padding: .5rem 2rem .5rem .5rem;
            border-radius: .2rem;
            margin-right: .2rem;
        }
        .proyect__header__btn {
            padding: .2rem 1rem;
            background: $background-1-color;
            border: none;
            border-radius: .2rem;
            color: #fff;
            cursor: pointer;
        }
    }
}
